body /*General formatting */
{
  background-color: #d3d3cc;
  font-family: 'VT323','Comic Sans MS';
  font-size:
  weight:400;
  margin:0;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

.inputForGame /*Formatting for the input boxes*/
{
  display:table
}

#inputP /*Formatting for the input boxes*/
{
 display: table-row;
}

.inputLabel /*Formatting for the input boxes*/
{
  display: table-cell;

}

.header /*Title text and short description for website.*/
{
  position:relative;
  margin:auto;
}

#subtitle /*Underneath header*/
{
  position:relative;
  bottom:0.938em;
}

.title-bar /*Gradient for the windows 2000 style title bar.*/
{
  width:100%;
  height:21px;
  background: rgb(8,34,107);
  background: -moz-linear-gradient(left, rgba(8,34,107,1) 0%, rgba(140,165,195,1) 100%);
  background: -webkit-linear-gradient(left, rgba(8,34,107,1) 0%,rgba(140,165,195,1) 100%);
  background: linear-gradient(to right, rgba(8,34,107,1) 0%,rgba(140,165,195,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08226b', endColorstr='#8ca5c3',GradientType=1 );

  background-color:black;
}

#CreateButton /*Design and formatting for the OK button*/
{
  position:relative;
  left:5px;
  width:6.250em;
  height:1.75em;
  background-image:url('../img/ok.png');
  background-size:6.250em 1.75em;
}

#WinScreen /*Design and formatting for the win screen*/
{
  display: inline-block;
  width: 25em;
  height: 12.5em;
  background-image:url("../img/WinPopup.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
  margin: 0 auto;
}

#LoseScreen /*Design and formatting for the lose screen*/
{
  display: inline-block;
  width: 25em;
  height: 12.5em;
  background-image:url("../img/WinPopup.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
  margin: 0 auto;
}

#WinTitle /*Design and formatting for the win title*/
{
  display: inline-block;
  color: #FFFF;
  text-align: left;
  font-size: 24px;
  position:relative;
  padding-left: 5px;
}

#msweeper /*Minesweeper image*/
{
  float:left;
  left:0.125em;
  top:0.063em;
  height:1.125em;
  width:1.125em;
}

#titleTag /*Text formatting for the 'application' title bar text*/
{
  color:#FFFF;
  font-size:12px;
  position:relative;
  bottom:0.119em;
}

.gorillaDiv /*Purple gorilla helper*/
{
  position:fixed;
  bottom:1.9em;
  right:2.2em;
}

#gorilla /*Positioning within the gorilla div*/
{
  position:relative;
  float:right;
  width:5.9em;
  height:6.188em;
}

.taskbarDiv /*Bottom taskbar formatting*/
{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;

}

#taskbar /*Bottom taskbar formatting*/
{
  width:100%;
}

#wizardCreate /*Wizard icon next to OK button*/
{
  height:1.250em;
  width:1.250em;
}

#buttons /*Min, max, close buttons on top right of page*/
{
  position:relative;
  top:0.231em;
  right:0.181em;
  width:4.000em;
  height:0.875em;
  float:right;
}

#uGR, #uGC, #uB /*Grouping all the input boxes together for a particular stlye*/
{
  border-style:inset;
  border-width:3px;
  min-width:150px;
  width:150px;

}
