body
{
  background-color: #f1ca73;
  font-family: system-ui;
}

.inputForGame
{
  display:table
}

#inputP
{
 display: table-row;
}

.inputLabel
{
  display: table-cell;
  border: none;
  border-color:transparent;
}

.header
{
  position:relative;
  left:12px;
  top:5px;
}

#subtitle
{
  position:relative;
  bottom:15px;
}

#uB
{
  resize:none;
}
